---
import SectionTitle from "./SectionTitle.astro";
---

<section id="definition">
  <SectionTitle title="Definición" />

  <ul class="flex flex-col gap-5">
    <li>
      <p>
        <span class="text-cyan-200">Convención social:</span> El comunitarismo señala que lo que consideramos
        correcto o incorrecto está influenciado por la sociedad en la que vivimos.
      </p>
    </li>
    <li>
      <p>
        <span class="text-cyan-200">Reflexión abierta:</span> Nos ayuda a estar abiertos a reflexionar
        sobre cómo diferentes grupos sociales tienen diferentes puntos de vista sobre
        la moralidad.
      </p>
    </li>
    <li>
      <p>
        <span class="text-cyan-200">Respeto por la moralidad personal: </span> Reconoce que la mayoría
        de las personas saben intuitivamente qué está bien y qué está mal, y actúan
        en consecuencia.
      </p>
    </li>
    <li>
      <p>
        <span class="text-cyan-200">Privacidad y moralidad:</span> Reconoce que hay cosas que preferimos
        mantener en privado, algunas de las cuales pueden ser moralmente cuestionables.
      </p>
    </li>
  </ul>
</section>
