---
import SectionTitle from "./SectionTitle.astro";
---

<section id="disadvantages">
  <SectionTitle title={"Desventajas"} />
  <div class="text-white flex flex-col gap-5">
    <div>
      <h2 class="text-2xl font-medium text-cyan-100 mb-1">
        Desafíos del comunitarismo
      </h2>

      <p>- ¿Las normas de la comunidad reflejan la moral correcta?</p>
      <p>- Relativización moral y riesgo de tolerancia indiscriminada.</p>
      <p>- Dificultad para juzgar la moral distorsionada de una comunidad.</p>
    </div>

    <div>
      <h2 class="text-2xl font-medium text-cyan-100 mb-1">
        Autorregulación y culpa
      </h2>
      <p>
        - ¿Quién define el nivel de culpa o vergüenza por violar normas
        comunitarias?
      </p>
      <p>- Indiferencia frente a las expectativas de la comunidad.</p>
      <p>
        - Necesidad de considerar otras perspectivas éticas para tomar
        decisiones sofisticadas.
      </p>
    </div>

    <div>
      <h2 class="text-3xl font-medium text-cyan-100 mb-1">Conclusión</h2>
      <p>
        - Combinación de perspectivas éticas para decisiones morales
        sofisticadas.
      </p>
      <p>
        - La moral comunitarista como un aspecto importante, pero no único, en
        la toma de decisiones éticas.
      </p>
    </div>
  </div>
</section>
