<footer class="w-full">
  <hr class="w-[80%] mx-auto my-5" />

  <div class="flex justify-around text-white w-full">
    <div>
      <span class="font-semibold text-lg block mb-2">Profesores:</span>
      <ul class="flex flex-col gap-2">
        <li class="font-semibold text-sm">Chad</li>
        <li class="font-semibold text-sm">El otro</li>
      </ul>
    </div>

    <div>
      <span class="font-semibold text-lg block mb-2">Integrantes:</span>
      <ul class="flex flex-col gap-2">
        <li class="font-semibold text-sm">Juan Ignacio Battiston</li>
        <li class="font-semibold text-sm">Federico Casani</li>
        <li class="font-semibold text-sm">Alessandro Chiavarino</li>
        <li class="font-semibold text-sm">Fabrizzio Dematias</li>
        <li class="font-semibold text-sm">Francisco Muñoz</li>
      </ul>
    </div>
  </div>
</footer>
