---
import SectionTitle from "./SectionTitle.astro";
---

<section>
  <SectionTitle title="Introducción"/>
  <p class="mb-5">
    Cuando tratamos de decidir cuál es el curso de acción correcto, por lo
    general tenemos que realizar diversas consideraciones que pueden agruparse
    dentro de las siguientes categorías:
  </p>
  <ul class="flex flex-col gap-5">
    <li>
      <span class="text-cyan-200">Sentimientos vs. Principios:</span> La gente tiende bien a confiar
      en sus emociones, o bien a analizar detenidamente ciertas normas antes de tomar
      alguna decisión moral. Algunos intentan dejar que “sus sensaciones” hablen,
      confían en que su sentido moral les dirá cómo actuar. Otros prefieren hacer
      una reflexión más cerebral, confían más en su intelecto que en su corazón y
      tienden a confiar en que la razón será la que les guíe para elegir entre lo
      correcto y lo incorrecto.
    </li>
    <li>
      <span class="text-cyan-200">Motivaciones vs. Resultados:</span> Hay personas que tienden a preocuparse
      por los motivos que subyacen a una decisión y otras se preocupan por los resultados
      de la misma. Algunos se concentran en el porqué se actúa de una u otra forma
      y quieren estar seguros de que las razones que motivan una decisión particular
      sean dignas de elogio. Otros se preocupan más por los resultados y quieren
      estar seguros de lograr algo valioso al asumir una actitud o un comportamiento.
    </li>
    <li>
      <span class="text-cyan-200">Lo individual vs. lo social:</span> Al determinar cuál es la actitud
      correcta se tiende a dar mayor valor a las consideraciones morales personales,
      o a las que tienen una mayor aceptación en la sociedad. Se trata pues de poner
      en la balanza las convicciones personales y las sociales. Hay quienes hacen
      énfasis en el tipo de persona que llegarán a ser como resultado de haber tomado
      una decisión determinada y se interesan en la imagen que refleja su actitud
      moral. Otros prestan mayor atención al tipo de sociedad que reflejan sus decisiones
      y se interesan más en lo que el grupo de personas que deciden como ellos dicen.
    </li>
  </ul>
  <div class="footer my-5">
    <img class="mx-auto" src="/img/intro.jpeg" alt="Imagen de ejemplo" />
  </div>
</section>
