<nav>
  <ul>
    <li><a href="#Introducci贸n">Introducci贸n</a></li>
    <li><a href="#Ejemplo">Ejemplo</a></li>
    <li><a href="#Introducci贸n">Introducci贸n</a></li>
    <li><a href="#Desventajas">Desventajas</a></li>
  </ul>
</nav>
