<nav class="flex flex-col items-center p-2 gap-2">
  <ul
    class="flex justify-center items-center gap-20 text-white font-semibold text-lg"
  >
    <li class="hover:text-cyan-400 transition-all duration-100">
      <a href="#Introducci贸n">Introducci贸n</a>
    </li>
    <li class="hover:text-cyan-400 transition-all duration-100">
      <a href="#Ejemplo">Ejemplo</a>
    </li>
    <li class="hover:text-cyan-400 transition-all duration-100">
      <a href="#Definici贸n">Definici贸n</a>
    </li>
    <li class="hover:text-cyan-400 transition-all duration-100">
      <a href="#Desventajas">Desventajas</a>
    </li>
  </ul>
  <hr class="bg-white border-white w-[80%]" />
</nav>
